<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="54607acoshift.StackCPU" Publisher="CN=65B7BE8E-123F-4296-AA03-3B86B834239E" Version="1.1.0.0" />
  <Properties>
    <DisplayName>Stack CPU</DisplayName>
    <PublisherDisplayName>acoshift</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Stack_CPU.App">
      <m2:VisualElements DisplayName="Stack CPU" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Stack CPU is a simulation program for stack cpu :D" ForegroundText="light" BackgroundColor="#464646" ToastCapable="false">
        <m2:DefaultTile ShortName="Stack CPU">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#404040" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>